/Profiler/Blueware.Profiler/bin
/Profiler/Blueware.Profiler/GetAgentShimILCodes
/Profiler/Blueware.Profiler/Profiler/Blueware.Profiler.Mock
/Profiler/Blueware.Profiler/Test
/Profiler/Blueware.Profiler/ipch
/Profiler/Blueware.Profiler/Release
/Profiler/Blueware.Profiler/temp
/Profiler/Blueware.Profiler/WebApplication1
/Profiler/Blueware.Profiler/x64
/Profiler/Blueware.Profiler/Profiler/Blueware.Profiler.sdf
/Profiler/Blueware.Profiler/Profiler/Blueware.Profiler/Release
/Profiler/Blueware.Profiler/Profiler/Blueware.Profiler/x64
/Profiler/Blueware.Profiler/*.suo
/Profiler/Blueware.Profiler/Debug
/Profiler/Blueware.Profiler/Debug-Dll
/Profiler/Blueware.Profiler/tinyxml2-master/tinyxml2/Debug-Dll
/Profiler/Blueware.Profiler/Profiler/Blueware.Profiler/Debug
/Profiler/Blueware.Profiler/Profiler/Blueware.Profiler.v11.suo
/Profiler/Blueware.Profiler/Profiler/Blueware.Profiler/BluewareProfiler_i.h
/Profiler/Blueware.Profiler/Profiler/Blueware.Profiler/BluewareProfiler_p.c
/Profiler/Blueware.Profiler/Profiler/Blueware.Profiler/BluewareProfiler_i.c
/Profiler/Bin/debug
/Output
/Installer/Blueware.Agent.Msi.Install.CustomActions/obj
/Installer/Blueware.Agent.Msi.Install.CustomActions/bin
/Profiler/Blueware.Profiler/Profiler/Blueware.Profiler.opensdf
/Profiler/3rd-party/log4cppsrc
/*.suo
/*.sdf
/*.opensdf
/ipch
/x64
/Tools/TestNonIIS/bin
/Tools/TestNonIIS/obj
/Tools/TestNonIISClient/obj
/Tools/TestNonIISClient/bin
/Debug
/Agent/Blueware.Agent.Core/obj
/Agent/Blueware.Agent.Core/output
/Agent/Blueware.Agent.Unittest/bin
/Agent/Blueware.Agent.Unittest/obj
/Profiler/Blueware.Profiler/Profiler/Blueware.Profiler/output
/Release
/Tools/WebService/bin
/Tools/WebService/obj
/Tools/WebSvcTest/bin
/Tools/WebSvcTest/obj
/Tools/WebService/*.user
/Tools/WebService/Properties/PublishProfiles
/Installer/Installer-msi/bin
/Installer/Installer-msi/obj
/Installer/Blueware.Agent.Msi.Install.CustomActions/*.suo
/Installer/Blueware.Agent.Msi.Install.CustomActions/*.user
/Profiler/DumpIL/Release
/Profiler/DumpIL/x64
/Profiler/DumpIL/Debug
/Profiler/Cpp.Cecil/Debug
/Profiler/Cpp.Cecil/x64
/Profiler/Cpp.Cecil/Release
/Agent/Blueware.Agent.Core/bin
/.vs
/Profiler/UserCfgCreator/GUI/obj
/Agent/Blueware.Viewer/bin
/Agent/Blueware.Viewer/obj
/Profiler/UserCfgCreator/GUI/bin
/Resource/Temp
*.tlog
/Profiler/Base/Debug
/Profiler/Base/Release
/Profiler/Base/x64
/Profiler/Blueware.Profiler/Debug
/Profiler/Blueware.Profiler/Release
/Profiler/Blueware.Profiler/x64
/Profiler/Cpp.Cecil/Debug
/Profiler/Cpp.Cecil/Release
/Profiler/Cpp.Cecil/x64
/Profiler/DumpIL/Debug
/Profiler/DumpIL/Release
/Profiler/DumpIL/x64
/Profiler/Debug
/Profiler/Release
/Profiler/x64
/Profiler/UnitTest/Debug
/Profiler/UnitTest/Release
/Profiler/UnitTest/x64
/Profiler/Blueware.Profiler/BluewareProfiler_i.c
/Profiler/Blueware.Profiler/BluewareProfiler_i.h
/Profiler/Blueware.Profiler/BluewareProfiler_p.c
/Agent/.vs/Agent/v14/*.suo
*.user
.vs
/Resource/FindCover/node_modules
/Profiler/Profiler.VC.db
/Profiler/ipch
/Agent/Blueware.Checker/bin
/Agent/Blueware.Checker/obj
/Profiler/*.opendb
/Tools/MemClientLibTest/packages
/Tools/MemClientLibTest/MemClientLibTest/Bin
/Tools/MemClientLibTest/Web
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# DNX
project.lock.json
project.fragment.lock.json
artifacts/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding add-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml

# CodeRush
.cr/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc
/Profiler/CheckLoader
/Profiler/CheckTarget
/Profiler/RegTool
/Output